@{
    ViewBag.Title = "Contato";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Acesse no GitHub<br />
              <a href="https://github.com/guh008code/">https://github.com/guh008code/</a><br />

    </address>

    <address>
        <strong>Meu email:</strong>   <a href="mailto:guh008@hotmail.com">guh008@hotmail.com</a><br />
    </address>
</main>