@{
    ViewBag.Title = "Home";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">PROJETO CLIENTES CRUD</h1>
        <p class="lead">ASP.NET FRAMEWORK 4.8 + MVC + NHIBERNATE + JSON + REDIS + SQL SERVER.</p>

        <p>Para Rodar este projeto é necessário que você instale em sua máquina local os seguintes abaixo:</p>

        <p>SQL Server 2012 - 2019 - <a href="https://www.microsoft.com/pt-br/sql-server/sql-server-downloads">Donwload SQL SERVER</a></p>

        <p>Redis - <a href="https://github.com/tporadowski/redis/releases">Donwload REDIS</a></p>

        <p>Visual Studio 2019 ou superior - <a href="https://visualstudio.microsoft.com/pt-br/downloads/">Donwload Visual Studio</a></p>

        <p>O Script para criação da base de dados está na pasta <b>/DatabaseScript</b>.</p>

        <p>Caso não tenha as seguintes referências neste projeto, você vai ter que instalar.</p>
        <p>Biblioteca nuget -> NHibernate</p>
        <p>Biblioteca nuget -> FluentNHibernate</p>
        <p>Biblioteca nuget -> System.Data.SqlClient</p>
        <p>Biblioteca nuget -> StackExchange.Redis</p>
        <p>Biblioteca nuget -> Microsoft.AspNet.Mvc</p>
        <p>Biblioteca nuget -> Microsoft.AspNet.Razor</p>
        <p>Biblioteca nuget -> Microsoft.AspNet.WebPages</p>
        <p>Biblioteca nuget -> Newtonsoft.Json</p>

        <p><a href="/Cliente/Index" class="btn btn-primary btn-md">Começar &raquo;</a></p>
    </section>


</main>